.aioseo-breadcrumbs {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.aioseo-breadcrumbs a {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.aioseo-breadcrumbs a:hover {
  color: #000;
}