.podbor-item {
  background-color: var(--light);
  border-radius: 24px;
  padding: 12px 24px 12px 12px;
  display: flex;

  @media(max-width: 991px) {
    justify-content: space-between;
  }

  @media(max-width: 767px) {
    flex-direction: column;
    padding: 8px;
    border-radius: 20px;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 4px;
    @media(max-width: 991px){
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
    }

    a {
      &:hover {
        color: var(--primary);
      }
    }

  }
}

.podbor-item-image {
  flex-shrink: 0;

  &:hover {
    opacity: .85;
  }

  img {
    width: 186px;
    height: 186px;
    object-fit: cover;
    border-radius: 20px;
    @media(max-width: 767px){
      margin-left: unset;
      margin-right: auto;
      width: 265px;
      border-radius: 16px;
    }
    @media(max-width: 575px){
      width: 100%;
      height: 60vw;
    }
  }
}

.podbor-item-col {
  &:nth-child(1) {
    width: 370px;
    flex-shrink: 0;
    padding-right: 12px;
    border-right: 2px solid var(--stroke);

    @media(max-width: 1199px) {
      width: 253px;
    }

    @media(max-width: 991px) {
      border-right: none;
      width: 375px;
    }

    @media(max-width: 767px) {
      width: 100%;
      padding-right: 0;
    }
  }

  &:nth-child(2) {
    grid-column: 6 span;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;

    @media(max-width: 1400px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media(max-width: 991px) {
      display: none;
    }
  }

  &:nth-child(3) {
    width: 290px;
    flex-shrink: 0;
    padding-left: 20px;
    border-left: 2px solid var(--stroke);

    @media(max-width: 991px) {
      width: 305px;
      padding-left: 8px;
      padding-right: 8px;
    }

    @media(max-width: 767px) {
      width: 100%;
      border-left: none;
      margin-top: 16px;
    }
  }
}

.podbor-item-price-cont {
  letter-spacing: 0.04em;

}

.podbor-param-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;

  @media(max-width: 1400px) {
    column-gap: 10px;
    row-gap: 10px;
  }
}

.podbor-param-col {
  grid-column: 6 span;
  overflow: hidden;

  @media(max-width: 1400px) {
    grid-column: 12 span;
  }
}

.podbor-param-item {
  display: flex;
  align-items: flex-end;

  &:not(:last-child) {
    margin-bottom: 6px;
  }

  &::after {
    background-image: radial-gradient(circle, var(--black40) 1px, transparent 1.5px);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: space no-repeat;
    min-width: 40px;
    content: "";
    flex-grow: 1;
    height: 1em;
    order: 2;
  }

  span:nth-child(1) {
    order: 1;
    padding-right: 4px;

    @media(max-width: 1400px) {
      font-size: 13px;
    }
  }

  span:nth-child(3) {
    order: 3;
    padding-left: 4px;
    max-width: 80px;

    @media(max-width: 1400px) {
      font-size: 13px;
    }
  }
}

.car-widg {
  border-radius: 30px;
}