.podbor-filter {
  margin-bottom: 10px;
}

.podbor-filter-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 40px;

  .h1 {
    color: #fff;
    font-weight: 800;
    margin-bottom: 0;

    @media(max-width: 1199px) {
      margin-bottom: 24px;
      font-weight: 700;
    }
  }

  .logo {
    margin-bottom: 4px;
    display: block;
  }
}

.podbor-filter-phone {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 8px;

}

.podbor-filter-body {
  border-radius: 30px;
  padding: 24px;
  background: var(--light);

  @media(max-width: 991px) {
    padding: 24px 16px 16px;
    border-radius: 20px;
  }
}

.podbor-filter-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 8px;
  row-gap: 24px;

  @media(max-width: 991px) {
    row-gap: 18px;
  }

  .column-4 {
    grid-column: 4 span;

    @media(max-width: 991px) {
      grid-column: 6 span;
    }

    @media(max-width: 767px) {
      grid-column: 12 span;
    }
  }

  .column-8 {
    grid-column: 8 span;

    @media(max-width: 991px) {
      grid-column: 6 span;
    }

    @media(max-width: 767px) {
      grid-column: 12 span;
    }
  }
}

.podbor-filter-action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width: 767px) {
    flex-direction: column-reverse;
    row-gap: 16px;
  }

  .button {
    @media(max-width: 575px) {
      width: 100%;
    }
  }
}

.input-hidden {
  display: none;
}

.podbor-filter-more.active {
  img {
    transform: rotate(180deg);
  }
}

.podbor-filter-right {
  padding-bottom: 7px;

  @media(max-width: 1199px) {
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  .logo {
    img {
      width: 138px;
    }
  }
}


.podbor-filter-more.active img {
  bottom: 1px;
}

.select2-container--default .select2-selection--single {
  height: 100%;
  border: none;
  width: 100%;
  height: 52px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  border: 1px solid var(--stroke);
  padding-left: 20px;
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff url('@img/icons/select.svg') no-repeat right 20px center / 20px;
  background-color: var(--light-hover);
  cursor: pointer;
  padding-bottom: 0;
  box-shadow: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}


.select2-dropdown {
  border-color: var(--stroke);
}
.form-control:focus {
  border-color: var(--stroke);
}
.form-control {
    -webkit-appearance: none;
  -moz-appearance: none;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--primary);
}