// modal
.modal {
  display: none;
  width: 915px;
  height: fit-content;
  border-radius: 24px;
  background-color: var(--black);
  color: var(--main-color);

  @media(max-width: 575px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  .h2 {
    font-size: 40px;
    line-height: 120%;
    font-weight: 800;
    margin-bottom: 24px;

    @media(max-width: 767px) {
      font-size: 28px;
      line-height: 36px;
      font-weight: 700;
      margin-bottom: 16px;
    }
  }



  &-body {
    padding: 45px;
    padding-top: 0;
  }

  &-title {
    font-size: 23px;
  }

  .btn-close {
    background: none;
    opacity: 1;
  }
}

#modalOrder {
  .h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;

    @media(max-width: 767px) {
      text-align: center;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px
    }
  }

  .logo {
    margin-bottom: 4px;

    img {
      width: 138px;
    }
  }

  .formInput {
    width: 328px;

    @media(max-width: 991px) {
      width: 250px;
    }

    @media(max-width: 767px) {
      width: 100%;
    }
  }
}

#modalProduct {
  width: 960px;
  border-radius: 30px;
  padding: 24px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  background: var(--light-hover);
  height: fit-content;

  @media(max-width: 767px) {
    padding: 16px;
  }

  .h2 {
    max-width: calc(100% - 30px);
  }

  .h3 {
    font-size: 16px;

    @media(max-width: 767px) {
      font-size: 14px;
    }

    &.color-primary {
      color: var(--primary);
    }
  }

  .podbor-param-item span:nth-child(3) {
    max-width: 570px;
    text-align: end;
  }

  .podbor-param-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .agreement label {
    @media(max-width: 575px){
      font-size: 11px;
    }
  }
}

.modalProductMain {
  display: flex;
  column-gap: 16px;

  @media(max-width: 767px) {
    flex-direction: column;
  }
}

.modalProductSlider {
  width: 100%;
  border-radius: 24px;

  .navArrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f1f1f1;
    border-radius: 50%;

    @media(max-width: 767px) {
      display: none;
    }

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: .4;
    }

    &Prev {
      left: 16px;
    }

    &Next {
      right: 16px;
    }
  }
}

.modalProductContent {
  width: 320px;
  flex-shrink: 0;

  @media(max-width: 767px) {
    width: 100%;
  }
}

.modalProductSlide {
  transition: opacity .2s linear;

  &:hover {
    opacity: .9;
  }

  img {
    width: 100%;
    height: 430px;
    object-fit: cover;
    border-radius: 24px;

    @media(max-width: 575px) {
      height: 65vw;
    }
  }
}

.modalProductPrices {
  background: var(--light);
  border-radius: 24px;
  padding: 32px 24px 24px;

  @media(max-width: 575px) {
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
  }
}

.modalProductInfo {
  height: 48px;
}

.modalProductServices {
  ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;

    @media(max-width: 991px) {
      row-gap: 16px;
    }

    li {
      grid-column: 4 span;

      @media(max-width: 991px) {
        grid-column: 6 span;
      }
      @media(max-width: 575px){
        grid-column: 12 span;
      }

      &:nth-child(1) {
        .modalProductService {
          .modalProductServiceImage {
            object-position: right center;
          }
        }
      }
    }
  }
}

.modalProductService {
  height: 120px;
  display: flex;
  padding: 14px 22px 50px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  background-color: #b91612;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  @media(max-width: 767px){
    border-radius: 20px;
  }

  &:hover {
    opacity: .85;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: url('@img/icons/service-round.svg') no-repeat bottom center / contain;

    @media(max-width: 991px) {
      background: url('@img/icons/service-round-sm.svg') no-repeat bottom center / cover;
    }
    @media(max-width: 575px){
      background: url('@img/icons/service-round-sm.svg') no-repeat bottom center / cover;
    }
  }

  .modalProductServiceImage {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left center;
  }
}

.modalProductServiceTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--light-hover);
}

.modalProductServiceSocial {
  width: 56px;
  right: 21px;
  bottom: 16px;
  position: absolute;
}

.param-action {
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;

  &.active {
    img {
      bottom: -1px;
      transform: rotate(180deg);
    }
  }

  &:hover {
    opacity: .8;
  }

  img {
    position: relative;
    bottom: 2px;
  }
}

.podbor-hidden {
  display: none;
}

.modalProductFormInputW {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .inputW {
    grid-column: 6 span;
    @media(max-width: 575px){
      grid-column: 12 span;
    }

    .formInput {
      &::placeholder {
        text-transform: uppercase;
      }
    }
  }
}

.modalOrderDescr {
  color: #fff;

  @media(max-width: 767px) {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modalOrderLogoW {
  padding-right: 60px;
}

.fancybox__content>.f-button.is-close-btn {
  top: 20px;
  right: 20px;
  color: #fff;
}

#modalProduct.fancybox__content>.f-button.is-close-btn {
  color: var(--black60);
}

.is-compact #modalProduct.fancybox__content>.f-button.is-close-btn {
  background-color: #fff;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}