.tabs {
  &__nav {
    display: flex;
    column-gap: 16px;
    padding: 4px;
    background-color: var(--background);
    width: fit-content;
    border-radius: 15px;

    &-btn {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      border-radius: 14px;
      padding-left: 16px;
      padding-right: 16px;
      transition: background-color .2s linear, color .2s linear;

      &--active {
        background-color: var(--primary);
        color: #fff;
      }
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }
}

.podbor-filter__nav {
  column-gap: 4px;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  font-weight: 700;

  .tabs__nav-btn {
    border-radius: 20px 20px 0 0;
    padding: 12px 40px 12px 32px;
    min-width: 200px;
    height: 64px;
    background-color: var(--black);
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--light-hover);

    @media(max-width: 991px) {
      padding: 12px 16px;
      min-width: 84px;
      height: 44px;
      font-weight: 600;
      font-size: 14px;
    }

    @media(max-width: 355px) {
      font-size: 12px;
      padding: 6px 10px;
      min-width: 70px;
    }

    img {
      position: relative;
      bottom: 1px;

      @media(max-width: 991px) {
        display: none;
      }
    }

    &:hover {
      background-color: var(--light-hover);
      color: var(--main-color);
    }

    &--active {
      background-color: var(--light);
      color: var(--black);
    }
  }
}